.header {
    background: #000;
    height:8vh;
    width: 100vw;
}

.header__inner {
    margin: 0 auto;
    height:100%;
    width:100%;
}

.header-utilities {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__link{
    display:flex;
    align-items: center;
}

.header__logo {
    display:inline-block;
    margin-left: 1vw;
    height: 5vh;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 70vw;
    align-items: center;
}

.header-nav__item-search {
    display: inline-block;
    width: 35vw;
}

.header-nav__item {
    display:inline-block;
    /* width: 30%; */
    text-align: center;
    margin-right: 1vw;
}

.header-nav__search {
    display:block;
}

.header-nav__search--window{
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    font-style: normal;
    vertical-align: middle;
    text-align:left;
}

.header-nav__search--button{
    display: inline-block;
    border: none;
    border-radius: 3px;
    font-family: "Inter", sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    font-style: normal;
    background: #ffffff;
    color: #000000;
    cursor: pointer;
    vertical-align: middle;
}

.header-nav__link {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 1.5vw;
    cursor: pointer;
}

.header-nav__logout {
    display:block;
}

.header-nav__logout--button {
    color: #fff;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    border: none;
    background: transparent;
    font-size: 1.5vw;
    cursor: pointer;
}

.header-nav__listing {
    display:block;
}

.header-nav__listing--button {
    height: 60%;
    border: none;
    border-radius: 3px;
    font-family: "Inter", sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    font-style: normal;
    background: #ffffff;
    color: #000000;
    cursor: pointer;
}
